<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
	<header>
		<a href="/">Home</a>
		<a href="https://html-css-js.com/">HTML</a>
		<a href="https://html-css-js.com/css/code/">CSS</a>
		<a href="https://htmlcheatsheet.com/js/">JS</a>
	</header>
	<section id="pageContent">
		<main role="main">
			<h1>Log in</h1>
			<li>username</li>
			<li>password</li>
		</main>
	</section>
	<section id = "choose the movie">
		<label for = "choosing movie">choose the movie you want to watch:</label>
		<select id = "choosing movie">
			<option value = "">-- Please choose movie --</option>
			<option value = "spiderman">Spiderman</option>
			<option value = "Les Miserables">Les Miserables</option>
		</select>
	</section>
	<section id = "choose the date">
		<lable for = "choosing date">choose the date you are free:</lable>
		<select id = "choosing date">
			<option value = "">-- Please choose date --</option>
		</select>
	</section>
	<footer>
		<p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
	</footer>
</body>

</html>